langchain
langchain-openai
langchain-community
langchain-core
openpyxl
pandas
python-dotenv
faiss-cpu
matplotlib
scikit-learn
streamlit-cookies-manager
streamlit-cookie-manager
tqdm
langchain 
langsmith